In [19]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

divisor = text.split('.')
divisor

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [23]:
palabras = ['average', 'temperature', 'distance']
palabras

['average', 'temperature', 'distance']

In [25]:

for texto in divisor:
    for palabra in palabras:
        if palabra in texto:
            print(texto)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [26]:
for texto in divisor:
    for palabra in palabras:
        if palabra in texto:
            print(texto.replace('C', 'Celcius'))

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celcius

## Empieza ejercicio 2

In [84]:
planeta = "Moon"
gravedad = 0.00162
nombre = "Earth"

In [85]:
titulo = 'Gravedad en el planeta {}'.format(nombre)

In [88]:
plantilla = """{titulo}
---------------------------------
planet name: {nombre}
gravedad en el planeta: {planeta} 
gravedad : {gravedad} m/s2""".format(titulo=titulo, nombre=nombre, planeta=planeta, gravedad=gravedad*1000)

print(plantilla)

Gravedad en el planeta Earth
---------------------------------
planet name: Earth
gravedad en el planeta: Moon
gravedad : 1.6199999999999999 m/s2

In [96]:
planeta = "marte"
gravedad= 0.00143
nombre= "ganimedes"

In [97]:
print(plantilla)

Gravedad en el planeta Earth
---------------------------------
planet name: Earth
gravedad en el planeta: Moon
gravedad : 1.6199999999999999 m/s2

In [101]:
nueva_plantilla = """Gravedad en el planeta {nombre}
---------------------------------
planet name: {planeta}
gravedad en {nombre}: {gravedad}"""

print(nueva_plantilla.format( nombre = nombre, planeta = planeta, gravedad = gravedad * 1000))

Gravedad en el planeta ganimedes
---------------------------------
planet name: marte
gravedad en ganimedes: 1.4300000000000002